<header class="bg-white text-gray-800 shadow">
    <div class="container mx-auto flex items-center justify-between py-4">
        <!-- Logo Section -->
        <div class="flex-shrink-0">
            <a href="#" class="text-xl font-bold text-white flex items-center gap-2">
                <img width={60} height={60} src="./images/heartbeat.png" alt="Logo">
                <p class='text-3xl uppercase text-zinc-900'>Blog</p>
            </a>
        </div>
        <!-- Menu Links Section -->
        <ul class="hidden md:flex space-x-4">
            <li><a href="/" class="hover:text-gray-600">Home</a></li>
            <li><a href="/" class="hover:text-gray-600">About</a></li>
            <li><a href="/blog" class="hover:text-gray-600">Blog</a></li>
        </ul>
    </div>
</header>